<%- include ('./layouts/header') %>

<header class="masthead text-center text-white"> </header>
<section class="login" style="background:url('/img/Yellow-B.jpg')">
    <div class="container login-container ">
        <div class="row align-items-center">
            <div class="col-md-6 login-form-1 d-flex  align-items-center bg-white">
                <p class=""> Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
                    industries for previewing layouts and visual mockups.</p>
            </div>
            <div class="col-md-6 login-form-2 login_form">
                <h3>Sign In</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control emailid" placeholder="Email0000000000000 *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control passwordCls" placeholder="Password *" value="" />

                    </div>

                    <div class="form-group  text-center">

                        <input type="button" class="btnSubmit loginBtn" value="Login" />
                    </div>
                    <div class="form-group text-center text-white">
                        <a href="#" id="forgotPwd">Forget Pasword</a>
                    </div>
                    <div class="form-group text-center text-white">
                        Don't have an account <a href="/public/register" class="ForgetPwd " value="Login">Sign Up</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-form-2 forget_pws_form" style="display: none;">
                <h3>Forgot Password</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control forgrtEmailid" placeholder="Email *" value="" />
                    </div>
                    <div class="form-group  text-center">
                        <input type="button" class="btnSubmit forgotPasswordBtn" value="Login" />
                    </div>
                    <div class="form-group text-center text-white">
                        <a href="#" class="return_login" ><span>Return to Login</span></a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>
<%- include ('./layouts/footer') %>

<script src="/js/allpages/login.js"></script>